#home {
  height: calc(100vh - 300px);
  position: relative;
  margin-top: 56px;

  @media (min-width: 1024px) {
  
   
  }
  > div {
    height: 100%;
  }
  
  .home-content {
    height: 100vh;
    background-position: center;
    background-size: cover;
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: -300px;
      left: 0;
      background-color: #9fafbe;
      opacity: 0.7;
    
    }
    .intro {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      position: relative;
      z-index: 2;
      .title {
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: 4rem;
          
        }
        @media (max-width : 600px) {
        font-size: 25px;
        
        }
      }
      .sub-title {
        font-weight: normal;
        max-width: 700px;
        margin: 0 auto;
        letter-spacing: 2px;
        // font-size: 25px;

        @media (min-width: 768px) {
          font-size: 25px;
        }
        @media (max-width : 600px) {
          font-size: 20px;
        }
      }
    }
  }
  
}
