#services {
  background-color: #b7c3cc;
}
.service-box {
  padding: 2rem;
  // border: 1px solid #060608;
  // box-shadow: 2px 2px 4px #e9ebef;
  margin-bottom: 1rem;
  background: #d6e4ef;
  .service-icon {
    font-size: 2rem;
    color: #248eff;
  }
  .service-body {
    .service-title {
      font-size: 1.1rem;
      color: #060606;
      margin-bottom: 1.2rem;
    }
    &:after {
      content: '';
      content: '';
      display: block;
      height: 2px;
      width: 90px;
      background: #060606;
      position: absolute;
      top: 58px;
      left: 48%;
      transform: translateX(-50%);
    }
    .service-description {
      font-size: 0.9rem;
      color: #060606;
    }
  }
}
